:root {
    /* Color variables */
    --black-color: #131313;
    --white-color: #f9f9f9;
    --purple-color: #D377FF;;

    /* Font variables */
    --headings-font: "Eurostyle";
    --text-font: "Montserrat", sans-serif;

    /*Font Weights */
    --montserrat-light: 300;
    --montserrat-medium: 500;
    --montserrat-bold: 700;
}

/* Integrating the new font that matches the "vibe" of the website */

@font-face {
    font-family: 'Eurostyle'; 
    src: url('fonts/EuroStyle.woff2') format('woff2'),
         url('fonts/EuroStyle\ Normal.woff2') format('woff2');
  }

html {
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    background-color: var(--black-color);
    cursor: none; /* removing the cursor so the new custom cursor is displayed */
}

/* Custom Cursor */

#custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    margin-left: -15px; /* centering the rectangle */
    margin-top: -15px;
    border: 2px solid white;
    border-radius: 3px;
    pointer-events: none; /* cursor doesn't block interactions */
    transition: transform 0.15s ease;
    z-index:1000;
}

.hidden {
    display: none;
}

button:hover, a:hover, img:hover {
    cursor: none; /* default cursor remains hidden on hover */
}

/* Fixing the headers with letter spacing */

h1 {
    letter-spacing: 12px;
}


/* Landing Page header*/

.landing-container-1 {
    height:50vh;
    display: flex;
    background-color: var(--black-color);
    justify-content: space-between;
}

#personal-portfolio-header{
    font-family: var(--headings-font);
    color:var(--white-color);
    font-size:120px;
    margin-left:13.7vw;
    margin-top:20vh;
}

#landing-page-stars{
    max-width:100vw;
    height:30vh;
    margin-top: 13vh;
    margin-right:8vw;
}
    

/* Shooting Stars code */

.shooting-star {
    position: absolute;
    width: 2px;
    height: 100px;
    background: linear-gradient(45deg, rgb(166, 164, 254), rgba(255, 255, 255, 0));
    opacity: 0;
    transform: rotate(45deg);
    animation: shooting-star 3s ease-in-out forwards;
    z-index:-999;
}

@keyframes shooting-star {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(-50vw, 100vh) rotate(45deg);
    }
}

/* Animated text code with sliding up */

.animated-text {
    font-size: 2em;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
}

.animated-text.visible {
    opacity: 1;
    transform: translateY(0);
}

.animated-text.fadeIn {
    opacity: 0;
    transform: translateY(20px);
}

.animated-text.slideIn {
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Landing Page under header*/

.flex-container-2 {
    height:50vh;
    display: flex;
    align-items: center;
}

#landing-line{
    margin:5vw;
    margin-bottom:35vh;
    width:50vw;
}
#landing-my-name{
    margin-left:14vw;
}
#landing-my-name, #landing-year{
    font-family: var(--text-font);
    font-weight: var(--montserrat-light);
    font-size: 24px;
    color: var(--white-color);
    margin-bottom:25vh;
}
.purple-letters{
    color: var(--purple-color);
}

#landing-arrow{
    margin-top:15vh;
    margin-left:-38vw;
    transition: transform 0.3s ease-in-out;
}

#landing-arrow:hover{
    transform: translateY(10px);

}

/* About (me) header */

.about-me-header{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top:15vh;
}

.section-header{
    font-family: var(--headings-font);
    color: var(--white-color);
    font-size:70px;
    margin-left:13.7vw;

}

.section-line{
width:71vw;
display:flex;
align-items: center;

}
#line1{
    width:80vw;
    height: 120px;
    stroke: white;
    stroke-width:0.1px;
    margin-left:7.7vw;
    margin-bottom:1vh;
}

#line2{
    width:80vw;
    height: 90px;
    stroke: white;
    stroke-width:0.1px;
    margin-left:7.7vw;
    margin-top:1vh;
}
/* About (me) page */

.about-me-container{
    width:100%;
    height: 70vh;
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
}

#about-me-left-target{
margin-left:5vw;
}

#about-me-right-target{
    margin-left:1vw;
    }

#about-me-profile-pic{
    height:56vh;
    border-radius: 7px;
    margin-left:5vw;
}

.about-me-text-container-main{
    display:flex;
    flex-direction:column;
}
#about-me-hello{
    font-family: var(--text-font);
    font-weight: var(--montserrat-medium);
    font-size:28px;
    margin-left:3vw;
    margin-top:2vh;
}
#about-me-colored-hello{
    color:var(--purple-color);
    line-height:0;
}

.about-me-text-container{
    margin-top:1vh;
}

.about-me-text{
    font-weight:var(--montserrat-light);
    width:50vw;
    font-family: var(--text-font);
    font-size:28px;
    margin-left:3vw;
    color:var(--white-color);
    line-height:3.5vh;
}
#unique-medium{
    font-weight:var(--montserrat-medium);
}

.about-me-work-text{
    font-weight:var(--montserrat-medium);
    font-family: var(--text-font);
    font-size:28px;
    margin-left:3vw;
    color:var(--purple-color);
}
.about-me-skills-container{
    display:flex;
    margin-left:3vw;
}
.about-me-type-skill{
    color:var(--white-color);
    font-family: var(--text-font);
    font-weight:var(--montserrat-light);
    font-size:24px;
}
.about-me-skills-content{
    width: calc(18% - 1vw);
}
#about-me-css-text{
    margin-left:0.7vw;
}
#about-me-git-text{
    margin-left:1vw;
}
#about-me-premiere-text{
    margin-left:-1.6vw;
}
#about-me-and-more-text{
    margin-top:vw;
}

/* Selected Work header */

.selectedwork-header{
    display:flex;
    flex-direction: column;
    width:100%;
    height:15vh;
    margin-top:2.5vh;
}

#selectedwork-line{
width:71vw;
}

/* Selected Work page */

.selectedwork-project1-container{
    font-size:50px;
    margin-left:13.6vw;
    width:65vw;
}

#selectedwork-supertext{
    font-size: 40px;
    font-weight: var(--montserrat-medium);
    }

#selectedwork-pavemind{
    color:var(--purple-color);
    font-weight:var(--montserrat-bold);
}

/* first container */

#selectedwork-project1-text{
    font-weight:var(--montserrat-light);
    font-family: var(--text-font);
    color:var(--white-color);
    width: 50vw;
    font-size: 38px;
}

.selectedwork-project-description{
    font-weight:var(--montserrat-light);
    font-family: var(--text-font);
    font-style: italic;
    color:var(--white-color);
    font-size:20px;
    padding-bottom:2.5vh;
    width: 50vw;
}
.selectedwork-line-projects{
    width:71vw;
    float:left;
}
.selectedwork-project-button{
float:right;
display:flex;
margin-top:-4.5vh;
}

.transparent-button{
    font-family:var(--text-font);
    background-color: transparent;
    border: 2px solid var(--white-color);
    border-radius: 30px;
    padding: 10px 40px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
}

/* second container */

.selectedwork-project2-container{
font-size:38px;
margin-left:13.6vw;
width:65vw;
}

#selectedwork-project2-text{
    font-weight:var(--montserrat-light);
    font-family: var(--text-font);
    color:var(--white-color);
    width: 65vw;
}

#selectedwork-toyhero{
    color:var(--purple-color);
    font-weight:var(--montserrat-bold);
}

/* third container */

.selectedwork-project3-container{
font-weight:var(--montserrat-light);
font-size:38px;
margin-left:13.6vw;
width:65vw;
font-family: var(--text-font);
}

#selectedwork-project3-text{
    color:var(--white-color);
}

#selectedwork-aidace{
    color:var(--purple-color);
    font-weight:var(--montserrat-bold);
}

/* Contact page header */

.contact-header{
    display:flex;
    flex-direction: column;
    width:100%;
    height:15vh;
    margin-top:15vh;
}

#contact-section-line{
    margin: 0;
    width:43vw;
    margin-left:13.7vw;
}

/* Contact page - Orbit */

.contact-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10vh;
}
.orbit-container {
    position: relative;
    width: 400px;
    height: 400px;
}
#orbit-ring{
    position:absolute;
    width:130%;
    translate: -21px -50px;
}
.orbit {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
}

.icon {
    position: absolute;
    width: 55px;
    height: 55px;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.icon.linkedin {
    background-image: url('assets/linkedin-icon.png');
    top: 21%;
    left: 15%;
}

.icon.instagram {
    background-image: url('assets/instagram-icon.png');
    top: 35%;
    left: 30%;
    width:70px;
    height:70px;
}

.icon.gmail {
    background-image: url('assets/gmail-icon.png');
    top: 49%;
    left: 51%;
}

.icon.github {
    background-image: url('assets/github-icon.png');
    top: 60%;
    left: 72%;
}

a.icon:hover {
    animation: wobble 0.5s ease-in-out;
}

/* Keyframes for the wobble animation on orbit icons*/

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

/* Copyright Page  */

#copyright{
    color:var(--white-color);
    font-family: var(--text-font);
    font-weight: var(--montserrat-light);
    margin-left:13.7vw;
    margin-top:5vh;
}

/* Scroll to top button */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#scrollToTopBtn img {
    width: 8vw;
    height: 6vh;
}

#scrollToTopBtn:hover {
    transform: translateY(-10px);
}


/* PROJECT PAVEMIND PAGE STARTS HERE */

.pavemind-button-name-container{
    display:flex;
    font-family: var(--headings-font);
    color:var(--white-color);
    font-size:70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom:7vh;
}

.pavemind-heading{
    height:1vh;
}

#pavemind-underline-heading{
    width:40vw;
}

#pavemind-name-purple{
    color:var(--purple-color);
}

#pavemind-top-left-border{
    position: absolute;
    z-index:-999;
    padding:20px;
}
.pavemind-back-button-container{
    position:absolute;
    padding-top:8vh;
    padding-left:1.2vw;
}

#pavemind-go-back-text{
    color:var(--white-color);
    font-family: var(--text-font);
}

#pavemind-back-button-link{
    height:6.5vh;
    width:9vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

/* Project PaveMind Summary Section */
.pavemind-summary-container{
    width:100%;
    height:50vh;
    display:flex;
}

.pavemind-summary-text{
    width:50%;
    height:50vh;
}

.pavemind-summary-photo{
    width:50%;
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pavemind-text-header{
    color:var(--purple-color);
    font-size: 50px;
    font-family: var(--headings-font);
    margin-left:5vw;
}

.pavemind-text-and-photo{
    display:flex;
    margin-left:5vw;
    align-items: center;
}

#pavemind-afterfullmoon-text{
    color:var(--white-color);
    font-family: var(--text-font);
    margin-left:1vw;
    font-size:21px;
}
#pavemind-summary-text2{
    color:var(--white-color);
    font-family: var(--text-font);
    font-size:21px;
    margin-left:5vw;
}

#pavemind-landing-picture{
    max-width: 100%;
    height: 30vh;
    border-radius:10px;
    border:var(--purple-color) solid 2px;
}

#pavemind-link{
    font-family: var(--text-font);
    color:var(--white-color);
    text-decoration: none;
}


a {
    color: var(--white-color); /* Links color */
}

/* Visited link */
a:visited {
    color: var(--white-color); /* Color of the link after it has been visited */
}

/* Hover link */
a:hover {
    color: var(--purple-color); /* Color when the mouse is over the link */
}

/* Active link */
a:active {
    color: rgb(218, 105, 0); /* Color when the link is being clicked */
}


/* Project PaveMind Challenges & Technologies Used Section*/

.pavemind-explanation-section{
    display:flex;
    flex-direction:row;
    width:100%;
    height:43vh;
}

/* Challenges & Technologies Used elements */

.pavemind-final-containers{
    width:33%;
    color:var(--white-color);
    font-family: var(--text-font);
    font-size:21px;
}

.pavemind-final-content{
    display:flex;
    align-items: center;
    margin-left:5vw;
}
.pavemind-final-text{
    margin-left:1vw;
}

/* Bottom right border */

#pavemind-bottom-right-border{
    padding: 0px 20px 20px 0px;
    position: absolute;
    right:0;
    margin-top:20vh;
}


/* MEDIA QUERIES - RESPONSIVE */
@media only screen and (max-width: 768px) {

/* main */

body{
    width:100%;
}

.section-header{
    font-size:8vw;
    margin-left:4vw;
    display:flex;
    justify-content: center;
    width:91%;
    text-align:center;
}
#selectedwork-supertext{
    display:none;
}

/* landing page */

#landing-page-stars {
    display:none;
}

#personal-portfolio-header{
    display:flex;
    width:100%;
    justify-content: center;
    font-size:8vw;
    margin-left:0;
    margin-top:10vh;
}
.landing-container-1{
height: 50vh;
}

#landing-my-name, #landing-year{
    font-size:16px;
    text-align:center;
}
#landing-line{
    margin-bottom:27vh;
}

#landing-arrow{
    display:flex;
    transform:translate(-25vw);
}

/* selected work */

#selectedwork-project1-text{
    font-size:20px;
    width:100%;
}

.selectedwork-project-description {
    width:100%;
}

.selectedwork-project-button{
    margin-top:3vh;
}

.transparent-button{
    padding:10px 10px;
    font-size:14px;
}
#selectedwork-project2-text{
    font-size:20px;
}

#selectedwork-project3-text{
    font-size:20px;
}
/* about me */


.about-me-skills-container{
    flex-direction:column;
    text-align:center;
    }
    
    #about-me-html{
        display:none;
    }
    
    #about-me-css{
        display:none;
    }
    
    #about-me-git{
        display:none;
    }
    
    #about-me-figma{
        display:none;
    }
    
    #about-me-premiere{
        display:none;
    }

#about-me-profile-pic{
    display:none;
}

.about-me-container{
    flex-direction:column;
    align-items: baseline;
}

#about-me-hello{
    justify-content: center;
    display:flex;
    text-align: center;
    width:91%;
}

.about-me-text-container {
    display:flex;
    width:90%;
    margin:0;
}

.about-me-text {
    font-size: 16px;
    width:99%;
    text-align:center;
    margin-left: 6vw;
}

svg#line1{
    display:none;
}

svg#line2{
    display:none;
}

#about-me-left-target{
    display:none;
}
#about-me-right-target{
    display:none;
}

.about-me-work-text{
    width:91%;
    text-align:center;

}

.about-me-skills-content{
    width:100%;
    text-align:center;
}

/* contact me */

.contact-header{
margin-top:25vh;
}

#contact-section-line {
    width:60vw;
}


/* orbit */

.contact-me-container{
margin-top:2vh;
}

.icon{
width:40px;
height:40px;
}

.icon.linkedin{
    top: 26%;
    left:10%;
}

.icon.instagram{
    width:50px;
    height:50px;
    top: 39%;
    left:27%;
}

.icon.gmail{
    top:55%;
}

.icon.github{
    top:65%;
}

.orbit-container{
    width:200px;
    height:200px;
}

#orbit-ring {
    translate: -21px -16px;
}

#copyright{
    margin-top:10vh;
}
}
